/*fonts*/

h1 {
  font-family: "Play", sans-serif, serif;
}

h2 {
  font-family: "Play", sans-serif, serif;
}

body {
  font-family: "roboto", sans-serif, serif;
  margin: 0px;
}

.bold-text,
.cta {
  font-family: "roboto-bold", Verdana, Geneva, Tahoma, sans-serif;
}

.check-text {
  font-family: "Stick No Bills", "Times New Roman", serif, sans-serif;
}

.cover-gap {
  display: gap;
  grid-gap: 100px;
}

/*header seachmenu*/

.gamehub-logo {
  margin-bottom: 30px;
  height: 160px;
}

.orange {
  color: #ff984f;
}

.sale {
  text-decoration: line-through;
}

.push-left {
  float: left;
}

.push-right {
  float: right;
}

.action-icon {
  float: right;
  margin-left: 50px;
}

nav {
  display: none;
  position: fixed;
  background: #202441;
  z-index: 1000;
}

nav li {
  display: block;
  padding: 25px 20px;
}

#hamburger-menu {
  display: none;
  float: left;
}

.hamburger-label {
  float: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.header-menu {
  background-color: #202441;
  height: 70px;
  padding-top: 12px;
}

a {
  text-decoration: none;
  color: #f7710e;
}

.home-site {
  font-family: "roboto";
  text-decoration: underline;
}
/* cart */

.cart-counter {
  height: 25px;
  width: 25px;
  background-color: #ff984f;
  border-radius: 50%;
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 25px;
  display: none;
  margin-left: 30px;
  position: relative;
  bottom: 70px;
  left: 10px;
}

/*buttons*/

.cta {
  background-color: #202441;
  color: #ff984f;
  font-size: 1em;

  width: 100%;
  border-width: 0;
  padding: 8px;
  border-radius: 40px;
  cursor: pointer;
}

.cta:hover {
  transition-duration: 0.3s;
  cursor: pointer;
  background-color: #32366582;
  transition-duration: 0.3s;
  transform: translateY(-1.5px);
}

.button-view-games {
  background-color: white;
  border: 2px solid #ff984f;
  color: #202441;
  max-width: 210px;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
}

.button-view-games:hover {
  transition-duration: 0.3s;
  transform: translateY(-6px);
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-button {
  display: block;
  text-align: center;
  margin: auto;
  background-color: #202441;
  color: #ff984f;
  font-size: 1em;
  max-width: 210px;
  border-width: 0;
  padding: 8px;
  border-radius: 40px;
  cursor: pointer;
}

.link-button-reverse {
  display: block;
  text-align: center;
  margin: auto;
  background-color: white;
  border: 2px solid #ff984f;
  color: #202441;
  font-size: 1em;
  max-width: 210px;
  padding: 8px;
  border-radius: 40px;
  cursor: pointer;
}

.order-button {
  display: block;
  text-align: center;
  margin: none;
  background-color: #202441;
  color: #ff984f;
  font-size: 1em;

  width: max-content;
  border-width: 0;
  padding: 8px;
  border-radius: 40px;
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
}

.link-button-reverse:hover {
  transition-duration: 0.3s;
  background-color: #32366582;
  cursor: pointer;
  transition-duration: 0.3s;
  transform: translateY(-1.5px);
}

.order-button:hover {
  transition-duration: 0.3s;
  background-color: #32366582;
  cursor: pointer;
  transition-duration: 0.3s;
  transform: translateY(-1.5px);
}

.back-button-row {
  display: flex;
  cursor: pointer;
}

.link-button:hover {
  transition-duration: 0.3s;
  background-color: #32366582;
  cursor: pointer;
  transform: translateY(-1.5px);
}

/*games sections*/

.text-space {
  line-height: 0px;
}

.main-container {
  max-width: 1000px;
  margin: 0px auto;
  padding: 0px 20px;
}

.featured {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
}

.featured img {
  width: 100%;
}

.section-space {
  margin-top: 80px;
}

footer {
  background-color: #202441;
  width: auto;
  height: 120px;
  margin-top: 100px;
}

.footer-logo {
  float: right;
  margin-left: 25px;
  margin-top: 35px;
}

i {
  color: white;
}

.logo-container {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* test */

/*buy games page*/

.cart-price {
  display: flex;
  justify-content: center;
}

.left-space {
  margin-left: 24px;
}

/*check out page*/

.check-out-menu {
  margin-top: 12px;
  color: #ffffff;
}

.payment-space {
  margin-top: 70px;
  margin-bottom: 20px;
}

.cover-items {
  border: 2px solid #e2e2e2;
  border-radius: 3px;
  padding: 5px;
}

/*view all games*/

.enlarge-button {
  display: block;
  text-align: center;
  background-color: white;
  border: 2px solid #ff984f;
  color: #202441;
  font-size: 1em;

  width: max-content;
  padding: 8px;
  border-radius: 40px;
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

/*sign in*/

.sign-in-bar {
  border: 2px solid #e2e2e2;
  border-radius: 3px;
  padding: 10px 12px;
  text-align: left;
  margin-top: 15px;
}

.forgot-password {
  color: #f7710e;
  text-align: center;
  font-size: 13px;
}

.dont-account {
  color: black;
  text-align: center;
  font-size: 13px;
}

/*my profile*/

.center-container {
  max-width: 180px;
  margin: 0px auto;
  padding: 0px 20px;
}

.center-container textarea {
  vertical-align: top;
  border: 2px solid #e2e2e2;
  border-radius: 3px;
  margin: 20px 0px;
  padding: 10px 8px;
}

.top-space {
  margin-top: 30px;
}

.high-top-space {
  margin-top: 60px;
}

/*order complete*/

.text-center {
  text-align: center;
}

.my-icons {
  display: flex;
  width: 35px;
  height: 35px;
}

.space-icon {
  margin-right: 10px;
}

/* JS add to cart*/

* {
  box-sizing: border-box;
}

.modal-container {
  display: none;
  gap: 50px;
}

/* inputs how many*/
.cart-quantity-input {
  height: 30px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #f7710e;
  background-color: rgb(255, 246, 246);
  color: rgb(0, 0, 0);
  padding: 0;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
}

/* input style */

.input-space {
  margin-bottom: 20px;
}
.field-style {
  padding: 7px 15px;
  display: inline-block;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  transition: 0.1s;
  outline: none;
  cursor: pointer;
}

.field-style:focus {
  border: 2px solid #dadada;
}

.checkbox-style {
  margin: 0px 0px 0px 0px;
  font-size: 13px;
}

/*sceen devices*/

@media (min-width: 400px) {
  .featured {
    grid-template-columns: repeat(2, 1fr);
  }
  .picture-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 600px) {
  .featured {
    grid-template-columns: repeat(3, 1fr);
  }
  .line {
    height: 1px;
    background-color: rgb(231, 231, 231);
    margin-top: 90px;
    margin-bottom: 90px;
  }
  .item-two-column-tablet {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

@media (min-width: 800px) {
  .featured {
    grid-template-columns: repeat(4, 1fr);
  }

  .logo-container {
    display: flex;
    align-items: left;
    justify-content: left;
  }
  .button-container {
    align-items: right;
    justify-content: right;
  }
  .line {
    height: 1px;
    background-color: rgb(231, 231, 231);
    margin-top: 90px;
    margin-bottom: 90px;
  }

  .line-to {
    height: 1px;
    background-color: rgb(231, 231, 231);
  }

  .item-two-column-tablet {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .cart-counter {
    height: 25px;
    width: 25px;
    background-color: #ff984f;
    border-radius: 50%;
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 25px;
    display: none;
    margin-left: 30px;
    position: relative;
    bottom: 70px;
    left: 10px;
  }
}

.topnav {
  margin-top: 18px;
  text-align: center;
  margin-left: 150px;
}

.space-desktop {
  margin-right: 30px;
}

.header-menu {
  padding-bottom: 70px;
}

.text-color {
  color: white;
}

.featured-modal {
  display: flex;
}

/*popup*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 20px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.mybtn-color {
  padding: 0px;
  border: white;
}

.mybtn-color:hover {
  transition-duration: 0.3s;
  background-color: #32366582;
  cursor: pointer;
  transform: translateY(-5px);
}

.modal-cover {
  max-width: 30%;
}

#more {
  display: none;
}

.card-cart-btn {
  height: 30px;
  width: 50px;

  display: inline-block;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  background-color: white;
  outline: none;
  cursor: pointer;
  padding: 0;
  text-align: center;
  font-size: 12px;
}

.card-cart-btn:hover {
  transition-duration: 0.3s;
  background-color: #32366582;
  cursor: pointer;
}

.card-btn {
  padding-left: 16px;

  border-radius: 50px;
  border: 1px solid #dbdbdb;
  background-color: white;
  cursor: pointer;
}

.card-btn:hover {
  transition-duration: 0.3s;
  transform: translateY(-3px);
  background-color: #32366582;
  cursor: pointer;
}

/* adjustments for contact page for content management JS course*/

.contact-font {
  font-size: 14px;
}

.link-button-2 {
  display: block;
  text-align: center;
  background-color: #202441;
  color: #ff984f;
  font-size: 1em;

  max-width: 210px;
  border-width: 0;
  padding: 8px;
  border-radius: 40px;
  cursor: pointer;
}

.link-button-reverse-2 {
  display: block;
  text-align: center;
  background-color: white;
  border: 2px solid #ff984f;
  color: #202441;
  font-size: 1em;

  max-width: 210px;
  padding: 8px;
  border-radius: 40px;
  cursor: pointer;
}

.form-error {
  display: none;
  color: red;
  font-size: 0.9rem;
  margin-top: 2px;
}

/*shopping cart*/
.cart-counter {
  height: 25px;
  width: 25px;
  background-color: #ff984f;
  border-radius: 50%;
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 25px;
  display: none;
  margin-left: 30px;
  position: relative;
  bottom: 70px;
  left: 10px;
}

.contact-button-js {
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
}

.contact-button-js:hover {
  transition-duration: 0.3s;
  background-color: #32366582;
  cursor: pointer;
  transition-duration: 0.3s;
  transform: translateY(-1.5px);
  cursor: pointer;
}

.cross-btn {
  cursor: pointer;
  transform: translate(0%, -50%);
}

.close:hover {
  background: rgb(177, 175, 175);
  cursor: pointer;
}

/*contact js*/

.message {
  background: rgb(12, 95, 46);
  padding: 10px;
  color: white;
  border-radius: 40px;
  margin: 20px 0px 40px 0px;
}
@media (max-width: 800px) {
  .header-desktop {
    display: none;
  }
}

@media (min-width: 800px) {
  .header-mobile {
    display: none;
  }
}
